.card {
  width: 10rem;
  height: 13rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 10rem;
  text-align: center;
  border-radius: 20px;
  padding: 0px 26px 2rem 26px;
  background-color: rgba(204, 160, 249, 0.061);
  box-shadow: rgb(154, 120, 226);
  border: 7px solid rgb(187, 165, 248);

}
.card span:nth-child(2) {
  color: gray;
  font-size: 16px;
}
.card > img {
  transform: scale(0.6);
  margin-bottom: -2rem;
}
.c-button {
  background: #ffff;
  box-shadow: rgba(160, 126, 241, 0.12);
  border-radius: 7px;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: #b033aa;
}
.c-button:hover{
  transform: scale(1.1);
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .card {
    width: auto;
  }
}
