.h-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    
}

.h-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap:  2rem;
}
.h-name{
    font-size: 1.4rem;
    font-weight: bold;
    font-family: "Poppins",sans-serif
}
.h-right{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.h-list{
    flex: 10;
}
.h-list>ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}
.h-list>ul>li:hover{
    cursor: pointer;
    color:#b033aa
}

