.h-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    
}

.h-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap:  2rem;
}
.h-name{
    font-size: 1.4rem;
    font-weight: bold;
    font-family: "Poppins",sans-serif
}
.h-right{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.h-list{
    flex: 10;
}
.h-list>ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    font-size: larger;
}
.h-list>ul>li:hover{
    cursor: pointer;
    color:#b033aa
}
.button{
    border-radius: 34px;
    border:none;
    color:white;
    font-size:16px;
    padding: 11px 26px 11px 26px;
background: linear-gradient(180deg,#784376 26.71%,#340E32 99.36%);
box-shadow: 0px 20px 24px 3px #d742d0
}
.button:hover{
    background:white;
    cursor:pointer;
    color: #b033aa;
    border: 1px solid #b033aa;

}

