.intro{
    display: flex;
    height: 77vh;
    margin: 130px 20px 0 20px;
padding: 30px;


}
.i-left{
    display: flex;
    position: relative;
    flex:1;
    flex-direction: column;
    gap: 2rem;
}
.i-right{
    flex: 1;
    position: relative;
}
.i-right>*{
    position: absolute;
    z-index: 1;
}
.i-right>:nth-child(1) {
    transform: scale(1);
    left: 6%;
  }
.i-right>:nth-child(2) {
    top: 1rem;
    transform: scale(1);
    left: 6rem;
  }
.i-right>:nth-child(3) {
    transform: scale(1);
    left: 24%;
    top: -29%;

    
  }
  .i-right > :nth-child(4) {
    transform: scale(0.62);
    top: -19%;
    left: -24%;
    border-radius: 50%;
    padding: 0;
  }
.i-name{
    display: flex;
    flex-direction:column;
}
.i-name>:nth-child(1)
{
    font-weight: bold;
    font-size:3rem
}
.i-name>:nth-child(2){
    color: #b033aa;
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3){
    font-weight: 100;
    margin-top: 10px;
}
.i-button{
    width: 8rem;
    height: 3rem
}
.i-icons{
    margin-top: 3rem;
    display: flex;
    gap:2rem;
    margin-left:20px
}
.i-icons>*{
    transform: scale(2.0);
}
.i-icons>*:hover{
    cursor:pointer
}
.i-right>:nth-child(4){
    transform: scale(0.6);
    top:-19%;
    left:-24%;
    border-radius: 50%;
    padding: 0%;
}
.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background-color: #dfcae7;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
  filter:blur(72px);

}
.blur2{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background-color: #dfcae7;
    filter: blur(212px);
    z-index: -9;
    top:58%;
    left: -56%;
  filter:blur(72px);

}
