.toggle{
    display: flex;
    justify-content:space-between;
    border: 3px solid #dfcae7;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;

}
.toggle>*{
    width: 1rem;
    height: 1rem;
    color: #dfcae7;
}
.toggle>:nth-child(3)
{
    position: absolute;
    transform: scale(1.1);
   
   
   
}
