.toggle{
    display: flex;
    border: 3px solid #d373f8;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;

}
.toggle>*{
    width: 2rem;
    height: 2rem;
    color: #9651b2;
    
}

.toggle>:nth-child(3){
    position: absolute;
}