.floatingDiv{
display: flex;
align-items: center;
background-color: rgb(227, 216, 237);
border-radius: 12px;
gap: 1rem;
padding: 2px;
width: 12rem;
}
.floatingDiv>img{
    transform: scale(1.4);
}
.floatingDiv>span{
    color: black;
font-weight: bold;
}