.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: black;
}
.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, #784376 26.71%, #340e32 99.36%);
  box-shadow: 0px 20px 24px 3px #d742d0;
}
.button:hover {
  background: white;
  cursor: pointer;
  color: #b033aa;
  border: 1px solid #b033aa;
}
@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;
  }
}
